body {
  margin: 0;
  background-color: #fff; }

a {
  color: #fff; }

.error, .error--serious {
  background-color: #fff; }
  .error--serious {
    border-width: 2px; }

header {
  min-height: 300px;
  background-image: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 100% 100%;
  border-bottom-right-radius: 49% 50%;
  color: #000; }
  header .header-wrap {
    font-family: "Source Sans Pro", sans-serif;
    width: 1160px;
    margin: auto;
    padding-bottom: 50px; }
    header .header-wrap .header_heading::selection {
      color: white;
      background: #0062ff; }
    header .header-wrap .landing-logo {
      display: flex;
      align-items: center; }
    header .header-wrap p span {
      display: block; }
    header .header-wrap .header_heading {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      width: 49%;
      font-size: 70px; }
    header .header-wrap .header_text {
      font-size: 20px;
      white-space: pre-line;
      padding-bottom: 50px; }
    header .header-wrap .header_button {
      width: 165px;
      height: 55px;
      font-size: 20px;
      font-weight: 600;
      border: none;
      border-radius: 5%;
      background: lightgreen;
      color: #fff; }
  header .login {
    padding-left: 175px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 200px;
    color: #fff; }

.section_text::selection {
  color: white;
  background: #f7166c; }
.section_text {
  color: #000;
  text-align: center;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600; }
.section_card_wrap {
  display: flex;
  flex-direction: column;
  width: 850px;
  margin: auto;
  padding-bottom: 50px; }
  .section_card_wrap .section_card {
    background-color: #26252c;
    display: flex;
    margin: 15px;
    padding: 10px; }
    .section_card_wrap .section_card_right_container {
      font-family: 'Source Sans Pro', sans-serif;
      color: #fff;
      display: flex;
      flex-direction: column;
      width: 431px;
      margin: auto; }
      .section_card_wrap .section_card_right_container .section_card_heading, .section_card_wrap .section_card_right_container .section_link {
        color: #fff;
        text-align: center; }
      .section_card_wrap .section_card_right_container .section_card_heading {
        font-weight: 700;
        font-size: 20px; }

.section_banner {
  position: relative;
  color: #fff;
  top: 40px;
  display: flex;
  background: linear-gradient(to right, #52a504, #0062ff);
  width: 900px;
  margin: auto;
  justify-content: space-between; }
  .section_banner_heading::selection {
    color: white;
    background: #f7166c; }
  .section_banner_text_wrap {
    padding-left: 80px; }
    .section_banner_text_wrap .section_banner_heading:nth-child(1) {
      font-weight: 600; }
  .section_banner_button {
    align-self: center;
    color: #fff;
    height: 30px;
    width: 100px;
    margin-right: 80px;
    border: none;
    border-radius: 5%;
    background: lightgreen; }

.footer {
  top: 10px;
  background: #26252c;
  color: #fff; }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 1160px;
    margin: auto; }
    .footer-wrap .footer_logo.landing-logo {
      display: flex;
      align-items: center; }
    .footer-wrap p span {
      display: block; }
    .footer-wrap_text {
      width: 300px; }
    .footer-wrap .footer_text {
      width: 315px; }
