body{
    margin: 0;
    background-color:$main_background;
}


@mixin header-btn-property {
    width: 165px;
    height: 55px;
    font-size:20px;
    font-weight: 600;
    border: none;
    border-radius: 5%;
    background: $btn-bg;
    color: $general_text-color;
}
@mixin bunner-btn-property {
    align-self: center;
    color:$general_text-color;
    height: 30px;
    width: 100px;
    margin-right: 80px;
    border: none;
    border-radius:5%;
    background: $btn-bg;
}
@mixin links{
    color:$general_text-color;
}
a{
    @include links;
}
.error{
    background-color: #fff;
    &--serious{
        @extend .error;
        border-width:2px ;
    }
}
$primary-colors: (
    "red":   "#ff0000",
    "green": "#00ff00",
    "blue":  "#0000ff"
);
    header{
        min-height: 300px;
        background-image: $background;
        background-repeat: no-repeat;
        background-clip: border-box;
        background-size: 100% 100%;
        border-bottom-right-radius: 49% 50%;
        color: $header_text-color;
        .header-wrap{
            font-family:$font-header-wrap;
            width: 1160px;
            margin: auto;
            padding-bottom: 50px;
        .header_heading::selection {
            color: rgb(255, 255, 255);
            background:$text_overlay;
        }
        .landing-logo{
            display: flex;
            align-items: center;
        }
        p span{
            display: block;
        }
        .header_heading{
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            width: 49%;
            font-size:70px;
        }
        .header_text{
            font-size: 20px;
            white-space: pre-line;
            padding-bottom:50px ;
        }
        .header_button{
            @include header-btn-property;
        }
    }
    .login{
        padding-left: 175px;
        font-size:20px;
        font-weight: 600;
        padding-top: 200px;
        color: $button-login;
    }
}


.section{
    &_text::selection {
        color: rgb(255, 255, 255);
        background: rgb(247, 22, 108);}
    &_text{
        color: $header_text-color;
        text-align: center;
        font-size: 35px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
    }
    &_card_wrap{
        display: flex;
        flex-direction: column;
        width: 850px;
        margin: auto;
        padding-bottom: 50px;

        .section_card{
            background-color: $blocks-color;
            display: flex;
            margin:15px;
            padding: 10px;
            &_right_container {
                font-family: 'Source Sans Pro', sans-serif;
                color: $general_text-color;
                display: flex;
                flex-direction: column;
                width: 431px;
                margin: auto;
                .section_card_heading , .section_link{
                    color: $general_text-color;
                    text-align: center;
                }
                .section_card_heading{
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }

}
.section_banner{
    position: relative;
    color: $general_text-color;
    top:40px;
    display: flex;
    background:$linear-gradient;
    width: 900px;
    margin: auto;
    justify-content: space-between;
    &_heading::selection {
        color: rgb(255, 255, 255);
        background: rgb(247, 22, 108);
    }
    &_text_wrap{
        padding-left: 80px;
        .section_banner_heading:nth-child(1){
            font-weight: 600;
        }
    }
    &_button{
        @include bunner-btn-property;
    }
}
.footer{
    top:10px;
    background: $blocks-color;
    color: $general_text-color;
    &-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top:70px;
        padding-bottom: 70px;
        width: 1160px;
        margin: auto;
        .footer_logo.landing-logo{
            display: flex;
            align-items: center;
        }
        p span{
                display: block;
            }
        &_text{
            width: 300px;
        }
        .footer_text{
            width: 315px;
        }
    }
}