$main_background:rgb(78, 79, 80);
$background: url(../img/m-h-night.jpg);
$header_text-color: #fff;
$button-background:orange;
$button-login:#ccc;
$blocks-color:rgb(112, 112, 112);
$general_text-color:#fff;
$linear-gradient:linear-gradient(to right,rgb(255, 179, 15) ,rgb(146, 22, 177));