$background: url(../img/m-h-day.jpg);
$header_text-color: #000;
$btn-bg:lightgreen;
$button-login:#fff;
$blocks-color:rgb(38, 37, 44);
$main_background:#fff;
$general_text-color: #fff;
$linear-gradient:linear-gradient(to right, rgb(82, 165, 4) ,rgb(0, 98, 255));
$text_overlay:rgb(0, 98, 255);
$font-header-wrap:'Source Sans Pro', sans-serif;
