$background: url(../img/m-h-day.jpg);
$header_text-color: #000;
$button-background:lightgreen;
$button-login:#fff;
$blocks-color:rgb(42, 42, 42);
$main_background:#fff;
$general_text-color: #fff;
$linear-gradient:linear-gradient(to right, rgb(0, 104, 0) ,rgb(1, 1, 168));