$main_background:rgb(26, 25, 31);
$background: url(../img/m-h-night.jpg);
$header_text-color: #fff;
$btn-bg:orange;
$button-login:#ccc;
$blocks-color:rgb(63, 61, 66);
$general_text-color:#fff;
$linear-gradient:linear-gradient(to right,rgb(255, 222, 37) ,rgb(189, 55, 95));
$text_overlay:rgb(250, 62, 37);
$font-header-wrap:'Hind', sans-serif;