body{
    margin: 0;
    color: #777;
}
.container{
    width: 900px;
    margin:auto;
}
button{
    width: 150px;
    border-radius: 20px;
    height: 40px;
    background: #fff;
    border: 1px solid #777;
    margin-bottom: 20px;
    color: #777;
}
h3{
    color: black;
}
span{
    float: left;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 200px;
}
nav{
    word-spacing: 30px;
    margin-right: 200px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background: none;
    color: #bfba55;
}
.nav_bar-container{
    width: 1400px;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    margin:auto;

}
.nav_bar{
    color: black;
    display: flex;
    position: fixed;
    background:#fff;
    text-decoration: none;
    justify-content: space-between;
    font-size: 20px;
    min-height: 75px;
    width: 1400px;
    min-width: 900px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
.header-section{
    display: flex;
    margin: auto;
    justify-content: center;
    background: url(../img/home-bg.jpg), rgba(0, 0, 0, 0.664);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 800px;
    width: 1400px;
    min-width: 900px;
    margin-top: 50px;

}
.hello-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hello-page h1{
    color: white;
    font-size: 50px;
    margin: 0;
}
.hello-page h6{
    color: #bfba55;
    font-size: 10px;
}

.description-post{
    padding-top: 100px;

}
.post-info{
    display: flex;
    align-items: center;
}
img{
    width: 900px;
}
.author{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}
.name ,.date ,.comments{
    margin-right: 15px;
}
footer{
    width: 1400px;
    margin: auto;
    background: #000;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #777;
    background-color: #000;
    min-height: 200px;
    width: 900px;
    min-width: 900px;
}
h2{
    color: #fff;
}
.contact-info{
    width: 325px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 25px;
}